.accordion-header {
  background-color: #ccc;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}